[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_7zip
name: 7zip
description: Dateiarchivierungs- und Kompressionswerkzeug mit Unterstützung gängiger Formate
advice: 
version: 16.02
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup3264.opsiscript
uninstallScript: uninstall3264.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: install_architecture
multivalue: False
editable: False
description: Defines wether to install the version of 64bit, 32bit or automatic detection.
values: ["32 only", "64 only", "system specific"]
default: ["system specific"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[Changelog]
dfn_7zip (16.02-1)
        * minor update
 -- Detlef Krummel  <krummel@gei.de>, 02.06.2016

dfn_7zip (16.01-1)
	* Neuer Upstream (bugfixes)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 20.05.2016

dfn_7zip (16.00-2)
	* Changelog repariert
	* $ProductVersion$ aus control für $InstFile$
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 12.05.2016

dfn_7zip (16.00-1)
	* neue Upstreamversion
 -- Eric Esser <esser@wzb.eu>, 11.05.2016

dfn_7zip (15.12-2)
	* Feature "custom" Verzeichnis eingebaut (https://github.com/opsi4instituts/dfn_7zip/issues/1)
	* intelligente Suche nach Installationen (https://opsi.wzb.eu/wiki/index.php/Uninstall-Registry_durchsuchen_und_Schl%C3%BCssel_ermitteln)
	* Paketumbau und Aufräumen
	* install_architecture 'both' entfernt, da nur die zuerst aufgerufene Version wirklich installiert wird
	* ProductProperty Desktop-Icon hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 01.12.2015

dfn_7zip (15.12-1)
	* neue Upstreamversion
 -- Eric Esser <esser@wzb.eu>  Sun, 27 Nov 2015

7zip (9.20-1) testing; urgency=low

  * Initial package

 -- Eric Esser <esser@wzb.eu>  Fri, 15 May 2015 10:19:19 +0000





